<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - iBugged</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/iBugged.styles.css" asp-append-version="true" />
    <link href="~/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <nav class="nav flex-column navbar-light bg-white box-shadow nav-fill">
            <div class="container-fluid">
                <a class="nav-link text-dark text-center" asp-area="" asp-controller="Access" asp-action="LogOut">
                    <h4>iBugged</h4>
                </a>
                @if (service.user is not null)
                {
                    <a class="nav-link text-dark">@service.user.name</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Home">Dashboard</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="List">Projects</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="List">Tickets</a>

                    @if (service.user.role is ProjectManager)
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="List">Users</a>
                    }
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.multi-select.js" type="text/javascript"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
