@model User;

@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/icons/css/all.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<body>
    <div class="center-div">
        <h3 class="text-center">
            <i class="fa-solid fa-bug"></i>
            iBugged
        </h3>
        <form asp-controller="Access" asp-action="LogIn" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" class="form-control" asp-for="email" />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" class="form-control" asp-for="password" />
            </div>
            <div class="form-check">
                <div class="error-message">
                    @ViewBag.errorMessage <br />
                </div>
            </div>
            <button id="login-btn" class="btn btn-success" type="Submit">Log In</button>
            <a id="register-page-btn" class="btn btn-primary register-btn" asp-controller="Access" asp-action="Register">Register</a>
        </form>

        <div class="demo-users-message text-center">
            <h5>Or log in as demo users :</h5>
        </div>
        <button type="button" class="btn btn-secondary"
            onclick="logIn(`demoprojectmanager@gmail.com`, `1234567`)">Project Manager</button>
        <button type="button" class="btn btn-secondary"
            onclick="logIn(`demodeveloper@gmail.com`, `1234567`)">Developer</button>
        <button type="button" class="btn btn-secondary"
            onclick="logIn(`demoteammember@gmail.com`, `1234567`)">Team member</button>
    </div>
</body>

<script>
    function logIn(email, password) {
        document.getElementById("email").value = email;
        document.getElementById("password").value = password;
        document.forms[0].submit();
    }
</script>