@model User;

@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Access" asp-action="LogIn" method="post">
    <p>Login :</p>
    <label>Email:</label><br />
    <input id="email" asp-for="email" /><br />
    <label>Password:</label><br />
    <input id="password" asp-for="password" /><br />
    <br />
    <input type="Submit"/>
    <a asp-controller="Access" asp-action="Register">Register</a>
    <p>@ViewData["ErrorMessage"]</p>
</form>
<br />
Or login as demo users:<br />
<button type="button" onclick="logIn(`demoprojectmanager@gmail.com`, `1234567`)">Project Manager</button>
<button type="button" onclick="logIn(`demodeveloper@gmail.com`, `1234567`)">Developer</button>
<button type="button" onclick="logIn(`demoteammember@gmail.com`, `1234567`)">Team member</button>

<script>
  function logIn(email, password) {
    document.getElementById("email").value = email;
    document.getElementById("password").value = password;
    document.forms[0].submit();
  }
</script>