@model Ticket

@{
    ViewData["Title"] = "Create new ticket";
}

<form asp-controller="Tickets" asp-action="Create" method="post">
    <p>Create new ticket :</p>
    <label>Title :</label><br />
    <input asp-for="title" /><br />
    <label>Description :</label><br />
    <input asp-for="description" /><br />
    <label>TicketType :</label><br />
    <select asp-for="ticketType" asp-items="Html.GetEnumSelectList<TicketType>()"></select><br />
    <label>Priority :</label><br />
    <select asp-for="priority" asp-items="Html.GetEnumSelectList<Priority>()"></select><br />
    <label>Select project :</label><br />
    <select asp-for="projectId" asp-items="ViewBag.projectsList"></select><br />
    <label>Assignee :</label><br />
    @if (service.user.role != Role.TeamMember)
    {
        <select asp-for="assigneeId" asp-items="ViewBag.usersList">
            <option value="" selected>Unassigned</option>
        </select><br />
    }
    else
    {
        <select asp-for="assigneeId">
            <option value="" selected>Unassigned</option>
            <option value="@service.user.id">@service.user.name</option>
        </select><br />
    }
    <label>Author :</label><br />
    <input asp-for="authorId" value="@service.user.id" hidden >
    <input value="@service.user.name" disabled /><br />
    <br />
    <input type="Submit" value="Create"/>
</form>