@model Ticket

<form asp-controller="Tickets" asp-action="Create" method="post">
    <div class="form-group">
        <label for="title">Title :</label>
        <input id="title" class="form-control" asp-for="title" maxlength="30"/>
    </div>
    <div class="form-group">
        <label for="description">Description :</label>
        <textarea id="description" class="form-control" asp-for="description" maxlength="100"></textarea>
    </div>
    <div class="form-group">
        <label for="ticketType">Ticket type :</label>
        <select class="form-select" asp-for="ticketType" asp-items="Html.GetEnumSelectList<TicketType>()"></select>
    </div>
    <div class="form-group">
        <label for="priority">Priority :</label>
        <select class="form-select" asp-for="priority" asp-items="Html.GetEnumSelectList<Priority>()"></select>
    </div>
    <div class="form-group">
        <label for="projectId">Select project :</label>
        <select class="form-select" asp-for="projectId" asp-items="ViewBag.projectsList"></select>
    </div>
    <div class="form-group">
        <label for="assigneeId">Assignee :</label>
        @if (service.user.role != Role.TeamMember)
        {
            <select class="form-select" asp-for="assigneeId" asp-items="ViewBag.usersList">
                <option value="" selected>Unassigned</option>
            </select>
        }
        else
        {
            <select class="form-select" asp-for="assigneeId">
                <option value="" selected>Unassigned</option>
                <option value="@service.user.id">@service.user.name</option>
            </select>
        }
    </div>
    <div class="form-group">
        <label for="authorId">Author :</label>
        <input id="authorId" value="@service.user.id" class="form-control" asp-for="authorId" hidden />
        <input class="form-control" value="@service.user.name" disabled />
    </div>
    <br />
    <input class="btn btn-success" type="Submit" value="Create"/>
</form>