@{
    ViewData["Title"] = "Tickets";
}

<div class="text-center">
    <h1 class="display-4">Tickets</h1>
</div>

<div>
    <a asp-controller="Tickets" asp-action="Create">Create new project</a>
</div>