@model User;

@{
    Layout = null;
    ViewData["Title"] = "Create new user";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/icons/css/all.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<body>
    <div class="center-div">
        <h3 class="text-center">
            <i class="fa-solid fa-bug"></i>
            iBugged
        </h3>
        <h5 class="text-center">Create new user</h5>
        <form id="registration-form" asp-controller="Access" asp-action="Register" method="post">
            <div class="form-group">
                <label for="name">Username:</label>
                <input id="name" class="form-control" asp-for="name" />
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" class="form-control" asp-for="email" />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" class="form-control" asp-for="password" />
            </div>
            <div class="form-group">
                <label for="role">Role:</label><br />
                <select id="role" class="form-select" asp-for="role" asp-items="Html.GetEnumSelectList<Role>()"></select>
            </div>
            <div class="form-check"></div>
            <input id="register-btn" class="btn btn-success" type="Submit" value="Register" />
        </form>
    </div>
</body>