@model User;

@{
    ViewData["Title"] = "Insert new user";
}

<form asp-action="LogIn" method="post">
    <p>Login :</p>
    <label>Email:</label><br />
    <input asp-for="email" /><br />
    <label>Password:</label><br />
    <input asp-for="password" /><br />
    <br />
    <p>@ViewData["ErrorMessage"]</p>
    <input type="Submit"/> <a asp-action="Register">Register</a>
</form>