@model User;

@{
    ViewData["Title"] = "Create new user";
}

<form method="post">
    <p>Create new user :</p>
    <label>Email:</label><br />
    <input asp-for="email" /><br />
    <label>Password:</label><br />
    <input asp-for="password" /><br />
    <label>Username:</label><br />
    <input asp-for="name" /><br />
    <label>Organization:</label><br />
    <input asp-for="organization" /><br />
    <label>Role:</label><br />
    <input asp-for="role" /><br />
    <br />
    <input type="Submit" value="Register"/>
</form>