@model Project

<form asp-controller="Projects" asp-action="Create" method="post">
    <label>Name:</label><br />
    <input asp-for="name" /><br />
    <label>Description:</label><br />
    <input asp-for="description" /><br />
    <label>Choose project members :</label><br />
    <select class="my-select" asp-for="membersId" asp-items="@ViewBag.usersList" multiple="multiple"></select>
    <br /><br />
    <input type="Submit" value="Create"/>
</form>