@model Project

<form asp-controller="Projects" asp-action="Edit" method="post">
    <input asp-for="id" visible=false hidden>
    <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" class="form-control" asp-for="name" />
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" class="form-control" asp-for="description"></textarea>
    </div>
    <div class="form-group">
        <label>Choose project members :</label><br />
        <select class="my-select" asp-for="membersId" asp-items="@ViewBag.usersList" multiple="multiple"></select>
    </div>
    @for(int i = 0; i < Model.ticketsId.Count; i++)
    {
        <input asp-for="@Model.ticketsId[i]" visible=false hidden />
    }
    <br>
    <input class="btn btn-success" type="Submit" value="Save"/>
</form>