@model Project;

@{
    ViewData["Title"] = "Edit project";
}

<form>
    <p>Create new project :</p>
    <label>Name:</label><br />
    <input asp-for="name" /><br />
    <label>Description:</label><br />
    <input asp-for="description" /><br />
    <br />
    <select id="my-select" name="membersId" asp-for="membersId" asp-items="@ViewBag.usersList" multiple="multiple"></select>
    <br />
</form>

@section scripts {
    <link href="~/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">
    <script src="~/js/jquery.multi-select.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#my-select').multiSelect(
            {
                selectableHeader: "<div class='custom-header'>Select members:</div>",
                selectionHeader: "<div class='custom-header'>Selected memebers:</div>"
            })
    </script>
}