@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="display-4">Projects</h1>
</div>
<div>
    <a asp-controller="Projects" asp-action="Create">Create new project</a>
</div>