html {
  font-size: 16px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

::-webkit-scrollbar {
  display: none;
}

.register-btn{
  right: 0;
  position: absolute;
}

.center-div {
  width: fit-content;
  height: fit-content;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
}

form {
  width: 100%;
}

#login-btn, #register-page-btn {
  width: 45%;
}

#registration-form {
  width: 250px;
}

.form-control {
  margin-bottom: 10px;
}

.form-group input {
  width: 100%;
}

#register-btn {
  width: 100%;
}

#nav-bar {
  width: 255px;
  height: 100vh;
  display: block;
  position: fixed;
  box-shadow: 14px 3rem 1rem 0px rgba(0, 0, 0, .05);
}

nav .container-fluid {
  height: 100%;
  padding: 10px 0px;
}

nav label {
  width: 100%;
  padding: 0.8rem 1rem;
}

nav svg {
  width: 25px;
  margin-right: 10px;
}

.nav-link {
  padding: 0.8rem 1rem;
}

.nav-link:hover {
  background-color: rgba(197, 197, 197, 0.246);
}

#user-info {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}

.content {
  margin-left: 300px;
}