html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

::-webkit-scrollbar {
  display: none;
}

.register-btn{
  right: 0;
  position: absolute;
}

.center-div {
  width: fit-content;
  height: fit-content;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
}

form {
  width: 100%;
}

#login-btn, #register-page-btn {
  width: 45%;
}

#registration-form {
  width: 250px;
}

.form-control {
  margin-bottom: 10px;
}

.form-group input {
  width: 100%;
}

#register-btn {
  width: 100%;
}

nav {
  width: fit-content;
  height: 100vh;
  position: fixed;
}

main {
  margin-left: 50px;
}