@model User;

@{
    ViewData["Title"] = "Edit user";
}

<form asp-controller="Users" asp-action="Edit" method="post">
    <input asp-for="id" visible=false hidden>
    <input asp-for="email" visible=false hidden>
    <input asp-for="password" visible=false hidden>
    <p>Edit user :</p>
    <label>Username:</label><br />
    <input asp-for="name" /><br />
    <label>Role:</label><br />
    <select asp-for="role" asp-items="Html.GetEnumSelectList<Role>()">
    </select>
    <br /><br />
    <input type="Submit" value="Save"/>
</form>